@font-face {
    font-family: customFont;
    src: url(assets/Montserrat-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-family: customFont;
}

#topbar ul {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0; padding: 0;
    overflow: hidden;
    color: white;
    background-color: #bdc3c7;
    cursor: default;
    user-select: none;
}

#topbar ul li {
    font-size: 16px;
    float: right;
    height: 72px;
    line-height: 72px;
    padding: 0px 15px;
}

#topbar li.title {
    float:left;
    font-size: 24px;
}

#topbar ul li.clickable:hover {
    background-color: #95a5a6;
}

#graybackgrounddiv {
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.popupdiv {
    padding: 15px;
    position:fixed;
    overflow: auto;
    width: 75%; height: 75%;
    top:12.5%; left: 12.5%;
    background-color: white;
}

.popuptitle {
    font-size: 56px;
    margin: 5px 0px;
}

.popupcontent {
    margin: 0; padding: 0;
    text-align: justify;
}


.popupclose {
    float: right;
    user-select: none;
    padding: 0px 10px;
    font-size: 32px;
    cursor: default;
}

.popupclose:hover {
    background-color: #bdc3c7;
}